
@{
    ViewData["Title"] = "UpdatePassWord";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class = "container-fluid">
    <h2>Change Password</h2>
    <form class = "w-50">

        <button type = "submit" class = "btn btn-primary">Change</button>
    </form>
</div>

